body {
   margin: auto;
   padding: auto;
   background-color: white;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
   width: 1000px;
}

.heading {
  padding: 10px;
  background: #007eff;
  font-size: 1.4em;
  font-style: italic;
  font-family: Verdana;
  text-align: center;
  margin-top: 10px;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bott {
  padding: 10px;
  background: #007eff;
  font-size: 12px;
  font-style: italic;
  font-family: Verdana;
  text-align: center;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content {
	border-left: solid 1px black;
	border-right: solid 1px black;
	padding: 10px;
	height: 300px;
}

a:link {
	text-decoration: none;
	padding: 5px;
	transition: all 0.2s;
	border-radius: 5px;
	font-size: 12px;
}

a:link:hover {
	background-color: white;
	border-radius: 5px;
	color: black;
}

 /*PODSTAWOWE USTAWIENIA*/ 
  #menu {display: table; margin: 0 auto; overflow: hidden; font-size: 12px; padding: 10px;}
  
  #menu li {list-style-type: none; margin: 0 auto; float: left; color: white; padding: 10px;} 
  #menu li:hover {background: black; color: white; cursor: pointer;} 
  
  #menu li a {display: inline; color: white; text-decoration: none;} 
  #menu li a:hover {background: white; color: black; border-radius: 5px;} 
  
  #menu li ul {overflow: hidden; display: none; background: black;} 
  #menu li:hover ul {position: absolute; padding: 0; display: block; padding-top: 10px;} 
  
  /*ANIMACJA - tylko CSS3*/ 
  #menu *:hover {-moz-transition: 0.3s ease-in; -webkit-transition: 0.3s ease-in; -o-transition: 0.3s ease-in; transition: 0.3s ease-in;} 
  /*ZAOKRĄGLONE ROGI - tylko CSS3*/ 
  #menu {-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;} 
  #menu li ul {-moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 3px;}   

.menu {
	text-align: center;
  	background-color: black;
  	text-decoration: none;
  	height: 50px;
}
