<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
  <div>
	<h:form>
  <ul id="menu">
      <li><h:commandLink action="home?faces-redirect=true">
				<h:outputText value="#{msg.menu1}" ui:composition=""/>
			  </h:commandLink></li>  
      <li><h:outputText value="#{msg.menu2}" ui:composition=""/>
      <ul> 
      <li><h:commandLink action="addWorker?faces-redirect=true">
				<h:outputText value="#{msg.menu21}" />
			  </h:commandLink></li><br/>
	  <li><h:commandLink action="addSpecialization?faces-redirect=true">
		<h:outputText value="#{msg.menu22}" />
	  </h:commandLink></li><br/>
	  <li><h:commandLink action="addDevice?faces-redirect=true">
		<h:outputText value="#{msg.menu23}" />
	  </h:commandLink></li> 
      </ul> 
      </li>
      <li><h:outputText value="#{msg.menu3}" ui:composition=""/>
	  <ul>
      <li><h:commandLink action="showWorkers?faces-redirect=true">
				 <h:outputText value="#{msg.menu31}" />
			  </h:commandLink></li><br/>
	  <li><h:commandLink action="showSpecializations?faces-redirect=true">
				 <h:outputText value="#{msg.menu32}" />
			  </h:commandLink></li><br/>
	  <li><h:commandLink action="showDevices?faces-redirect=true">
		 <h:outputText value="#{msg.menu33}" />
	  </h:commandLink></li>
      </ul>
	  </li> 
      <li><h:commandLink action="spec">
				 <h:outputText value="#{msg.menu4}" />
			  </h:commandLink> 
      </li>
  </ul>
   </h:form>
  </div>
</ui:composition>