<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<ui:define name="content">
		<h:form id="deviceForm">
			<h:outputText value="#{msg.deviceAddLabel}" style="font-weight:bold;"/>
			<table>
			<tr>
				<td><h:outputText value="#{msgdeviceNameLabel}" /></td>
				<td><h:inputText id="name" value="#{deviceBean.device.name}"
					required="#{true}" /></td>
			</tr>
			</table>
			<h:commandButton value="#{msg.deviceFormOKButton}"
				action="#{deviceBean.addDevice}" />

			<h:panelGrid>
				<h:messages for="" />
				<h:messages id="messages" showDetail="#{true}"
					showSummary="#{false}" />
			</h:panelGrid>

		</h:form>

	</ui:define>
</ui:composition>