<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<ui:define name="content">
		<h:form id="workerForm">
			<h:outputText value="#{msg.workerAddLabel}" style="font-weight:bold;"/>
			<table>
			<tr>
				<td><h:outputText value="#{msg.workerFirstNameLabel}" /></td>
				<td><h:inputText id="firstName" value="#{workerBean.worker.firstName}"
					required="#{true}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="#{msg.workerLastNameLabel}" /></td>
				<td><h:inputText id="lastName" value="#{workerBean.worker.lastName}"
					required="#{true}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="#{msg.workerPeselLabel}" /></td>
				<td><h:inputText id="pin" value="#{workerBean.worker.pesel}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Registration date" /></td>
				<td><rich:calendar value="#{workerBean.worker.registrationDate}"
					id="calendar" datePattern="dd.MM.yyyy" showApplyButton="#{true}"
					style="width:200px">
				</rich:calendar></td>
			</tr>
			<tr>
				<td><h:outputText value="#{msg.workerStreetLabel}" /></td>
				<td><h:inputText id="street" value="#{workerBean.worker.street}"
					required="#{true}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="#{msg.workerPostCodeLabel}" /></td>
				<td><h:inputText id="postcode" value="#{workerBean.worker.postcode}"
					required="#{true}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="#{msg.workerCityLabel}" /></td>
				<td><h:inputText id="city" value="#{workerBean.worker.city}"
					required="#{true}" /></td>
			</tr>
			</table>
			<h:commandButton value="#{msg.workerFormOKButton}"
				action="#{workerBean.addWorker}" />

			<h:panelGrid>
				<h:messages for="" />
				<h:messages id="messages" showDetail="#{true}"
					showSummary="#{false}" />
			</h:panelGrid>

		</h:form>

	</ui:define>
</ui:composition>