<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">

	<ui:define name="content">
		<h:form>
			<h:dataTable value="#{workerBean.allWorkers}" var="item">
				<f:facet name="header">#{msg.workerAllLabel}</f:facet>
				<h:column>
					<f:facet name="header">#{msg.workerFirstNameLabel}</f:facet>
					<h:outputText value="#{item.firstName}"/>
				</h:column>
				<h:column>
					<f:facet name="header">#{msg.workerLastNameLabel}</f:facet>
					<h:outputText value="#{item.lastName}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{msg.workerPeselLabel}</f:facet>
					<h:outputText value="#{item.pesel}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{msg.workerStreetLabel}</f:facet>
					<h:outputText value="#{item.street}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{msg.workerPostCodeLabel}</f:facet>
					<h:outputText value="#{item.postcode}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{msg.workerCityLabel}</f:facet>
					<h:outputText value="#{item.city}" />
				</h:column>

				<h:column>
					<f:facet name="header">#{msg.action}</f:facet>
                    <h:commandLink value="#{msg.actionDelete}"
                            action="#{workerBean.deleteWorker}" />
                    <h:commandLink value=" Details " action="#{workerBean.showDetails}"/>
                </h:column>

			</h:dataTable>
		</h:form>

	</ui:define>

</ui:composition>