<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<ui:define name="content">
		<h:form id="workerForm">
			<h:panelGrid columns="2">

				<h:outputText value="Pracownik " />
				<h:selectOneMenu value="#{specBean.workerId}">
					<f:selectItems value="#{specBean.allWorkers}" var="worker"
						itemValue="#{worker.id}" itemLabel="#{worker.lastName}" />
				</h:selectOneMenu>

				<h:outputText value="Specializacje" />
				<h:selectOneMenu value="#{specBean.specializationId}">
					<f:selectItems value="#{specBean.availableSpecializations}" var="specialization"
						itemValue="#{specialization.id}" itemLabel="#{specialization.name}" />
				</h:selectOneMenu>


			</h:panelGrid>

			<h:commandButton value="Nadaj" action="#{specBean.goSpec}" />

			<h:panelGrid>
				<h:messages id="messages" showDetail="#{true}"
					showSummary="#{false}" />
			</h:panelGrid>

		</h:form>

	</ui:define>
</ui:composition>